==
<!-- Nav -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ 'home'|page }}">{{ this.theme.site_name}}</a>
    <div class="collapse navbar-collapse navbar-main-collapse">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item {% if this.page.id == 'home' %}active{% endif %}"><a class="nav-link" href="{{ 'home'|page }}">Home</a></li>
        <li class="nav-item {% if this.page.id == 'about' %}active{% endif %}"><a class="nav-link" href="{{ 'about'|page }}">About</a></li>
        <li class="nav-item {% if this.page.id == 'blog' %}active{% endif %}"><a class="nav-link" href="{{ 'blog'|page }}">Blog</a></li>
        <li class="nav-item {% if this.page.id == 'contact' %}active{% endif %}"><a class="nav-link" href="{{ 'contact'|page }}">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>